/* CSS files add styling rules to your content */

body {
    font-family: verdana, helvetica, arial, sans-serif;
    max-width: 800px;
    margin: auto;
}

h1 {
    font-style: italic;
    color: #373fff;
}

/* DOT MEANS CLASS :) */

.animals {
    background: floralwhite;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.hidden {
    display: none;
}

img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.dog {
    background: tan;
    padding: 10px;
    text-align: center;
}
.cat {
    background: bisque;
    padding: 10px;
    text-align: center;
}

header {
    background: linen;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
}

footer {
    background: linen;
    text-align: center;
    color: sienna;
    padding: 20px;
    margin-top: 10px;
}

button {
    font-size: 30px;
    background: oldlace;
    border: 5px solid blue;
}

.active {
    background: orange;
}
