/**
** Beispiel für die Schreibweise einer CSS-Anweisung mit einem Tagselektor
tag {
  border-color: black;
}

** Beispiel für die Schreibweise einer CSS-Anweisung mit einem Klassenselektor
.klassenname {
  border-color: black;
}
**/

.hidden {
   visibility: hidden;
}
